FITBIT_CLIENT_ID=
FITBIT_CLIENT_SECRET=
FITBIT_REDIRECT_URI=http://localhost:3000/api/fitbit/callback

# GPU local (Ollama). Si está vacío, usamos 127.0.0.1:11434
OLLAMA_HOST=http://127.0.0.1:11434
OLLAMA_LIGHT_MODEL=gemma3:1b
OLLAMA_CHAT_MODEL=gemma3:4b
